# Operators

1. Arithmetic Operators
2. Assignment Operators
3. Relational/Conditional/Comparison Operators
4. Logical Operators
5. Membership Operators
6. Identity Operators

<h3>1. Arithmetic Operators</h3>

In [7]:
#+,-,*,Division(/->float, //->integer, %->modulous),**

a = int(input("Enter a value: "))
b = int(input("Enter b value: "))
add = a+b  #10+4=14
sub = a-b  #10-4=6
mult = a*b #10*4=40
FD = a/b   #10/4=2.5
ID = a//b  #10//4=2
mod = a%b  #10%4=2
power = 5**2 #5**2=25


#print(f"a+b={add}\na-b={sub}")

print("a+b=",add)
print("a-b=",sub)
print("a*b=",mult)
print("a/b=",FD)
print("a//b=",ID)
print("a%b=",mod)
print("5**2=",power)

Enter a value: 14
Enter b value: 7
a+b= 21
a-b= 7
a*b= 98
a/b= 2.0
a//b= 2
a%b= 0
5**2= 25

# input()

- we can give different values ar run time.
- By default, it will treat all values as string.

In [ ]:
a = int(input("Enter a value: "))
b = int(input("Enter b value: "))
print(a)
print(b)
print(type(a))
print(type(b))
print(a+b)

<h3>2. Assignment Operators</h3>

In [8]:
x = 90
print(x)

90

In [28]:
#=,+=,-=,*=,/=,//=,%=,**=

x = 10
print(f"original value of {x}:",x)

#add 4 to x and assign it to x -> add and assign
print(f"after adding 4 to {x}",end="->")
x += 4        #x = x+4
print("The x value is",x) #14

#subtract 2 from x and assign it to x -> subtract and assign
print(f"after subtracting 2 from {x}",end="->")
x -= 2        #x = x-2
print("The x value is",x) #12

#multiply 6 with x and assign it to x -> multiply and assign
print(f"after multiplying 6 with {x}",end="->")
x *= 6        #x = x*6
print("The x value is",x) #72

original value of 10: 10
after adding 4 to 10->The x value is 14
after subtracting 2 from 14->The x value is 12
after multiplying 6 with 12->The x value is 72

<h3>3.Relational Operators</h3>

In [3]:
# ==, !=, < , <= ,> , >=

a = 9
b = 89
print(23<90)
print(a>b) #9>89
print(a==b) #9==89

True
False
False

<h3>4. Logical Operators</h3>

- comparing more than 1 condition.
- 3 types:
        and 
        or
        not (unary operator)

In [22]:
#or

print(3>8 or 4>12)

False

In [25]:
#not 

print(not(3>8 or 4>12))  #not(False)->True

True

In [26]:
print(not(3>8))   #False-> True

True

In [27]:
print(not(13>8)) #True->False

False

<h3>5. Membership Operators</h3>

- 2 types:

        1. in
        2. not in

In [30]:
l = ["laxmi",67.89,45,True,"sai"]

print("sai" in l)
print("Sai" in l)

True
False

In [33]:
#not in

print("sai" not in l) #False
print("Sai" not in l) #True

False
True

<h3>6. Identity Operators </h3>

- 2 types:
        
        1. is (==)
        2. is not (!=)

In [38]:
a = 100
b = 4
print(a is b)
print(a is not b)

False
True